<a href="https://colab.research.google.com/github/Kim-yongbeom/machine-learning/blob/main/data05/%EC%9B%90%ED%95%AB%2B%EB%9D%BC%EB%B2%A8%EC%9D%B8%EC%BD%94%EB%8D%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# 전처리
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

data = pd.Series(['apple','summer','spring'])
data

0     apple
1    summer
2    spring
dtype: object

In [18]:
# LabelEncoder는 카테고리를 만들어줌
encoder = LabelEncoder()
encoder.fit(data) # 시리즈의 값들이 카테고리 성격을 가진다.

LabelEncoder()

In [19]:
target = pd.Series(['apple','summer','summer','spring','spring'])
target

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [20]:
# 라벨 인코딩
# transform으로 수치 데이터 변환
target2 = encoder.transform(target)
target2

array([0, 2, 2, 1, 1])

In [21]:
type(target)

pandas.core.series.Series

In [22]:
# 1차원 배열
type(target2)

numpy.ndarray

In [23]:
## 원핫 레코딩 ##
data2 = pd.Series(['apple','summer','summer','spring','spring'])
data2

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [24]:
data3 = pd.get_dummies(data2)
data3

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       0       1
3      0       1       0
4      0       1       0

In [25]:
#### 2개 컬럼 이상 라벨인코딩하기 ####

In [26]:
words = pd.Series(['apple','summer','summer','spring','spring'])
hobby = pd.Series(['book','run','talk','coffee','song'])

In [27]:
df = pd.DataFrame({'words':words,'hobby':hobby})
df

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [29]:
columns = df.columns
columns

Index(['words', 'hobby'], dtype='object')

In [30]:
encoder2 = LabelEncoder()

In [31]:
for col in columns:
  # transform으로 수치 데이터 변환
  df[col] = encoder2.fit_transform(df[col])
df

   words  hobby
0      0      0
1      2      2
2      2      4
3      1      1
4      1      3

In [32]:
df2 = pd.DataFrame({'words':['apple','summer','summer','spring','spring'],
                    'hobby':['book','run','talk','coffee','song']})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      object
 1   hobby   5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [34]:
pd.get_dummies(df2['words'])

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       0       1
3      0       1       0
4      0       1       0

In [35]:
df2['words'] = df2['words'].astype('category')
df2['hobby'] = df2['hobby'].astype('category')

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      category
 1   hobby   5 non-null      category
dtypes: category(2)
memory usage: 442.0 bytes

In [37]:
pd.get_dummies(df2)

   words_apple  words_spring  words_summer  ...  hobby_run  hobby_song  hobby_talk
0            1             0             0  ...          0           0           0
1            0             0             1  ...          1           0           0
2            0             0             1  ...          0           0           1
3            0             1             0  ...          0           0           0
4            0             1             0  ...          0           1           0

[5 rows x 8 columns]

In [38]:
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [39]:
df2 = pd.get_dummies(df2)
df2

   words_apple  words_spring  words_summer  ...  hobby_run  hobby_song  hobby_talk
0            1             0             0  ...          0           0           0
1            0             0             1  ...          1           0           0
2            0             0             1  ...          0           0           1
3            0             1             0  ...          0           0           0
4            0             1             0  ...          0           1           0

[5 rows x 8 columns]

In [40]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   words_apple   5 non-null      uint8
 1   words_spring  5 non-null      uint8
 2   words_summer  5 non-null      uint8
 3   hobby_book    5 non-null      uint8
 4   hobby_coffee  5 non-null      uint8
 5   hobby_run     5 non-null      uint8
 6   hobby_song    5 non-null      uint8
 7   hobby_talk    5 non-null      uint8
dtypes: uint8(8)
memory usage: 168.0 bytes